Source: kodi-game-libretro-mu
Priority: extra
Maintainer: wsnipex <wsnipex@a1.net>
Build-Depends: debhelper (>= 9.0.0),
               cmake,
               kodi-addon-dev,
               libretro-mu (>= 1.3.0) | mu (>= 1.3.0)
Standards-Version: 3.9.8
Section: libs

Package: kodi-game-libretro-mu
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, kodi, kodi-game-libretro
Enhances: kodi
Description: Palm OS (Mu) core for kodi's retroplayer
 Palm OS (Mu) core for kodi's retroplayer
